#cart-menu.cart-menu
    .wrapper
        button.close-btn.close-btn__cart-menu
            i.ri-close-line
        .cart-menu__outer
            .cart-menu__header
                h3.text_prata Shopping cart
            .cart-menu__body
                ul.cart-menu__list
        .cart-menu__footer
            +discountPrice('cart-menu','shipping-cart-menu')

