meta(charset='UTF-8')
meta(name="description" content="online women's clothing store")
meta(name='viewport' content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
link(href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css' rel='stylesheet')
