nav.mobile-nav#mobile-nav
    .mobile-nav__list
        a.mobile-nav__link(href='./' aria-label='home page')
            i.ri-home-4-line
        button.open-btn.mobile-nav__link(aria-label='login' data-target='login-modal')
            i.ri-user-line
        a.mobile-nav__link.link(href='./category.html' title='Category page' aria-label='category')
            i.ri-file-list-line
        a.mobile-nav__link.link-marker(href='./cart.html' aria-label='cart')
            i.ri-shopping-bag-line
            span.item-floating.cart-icon 0
        a.mobile-nav__link.scroll-top(href='#' aria-label='scroll start')
            i.ri-arrow-up-line
